.banner{
    height: 100px;
    width: 100%;
    background-position: center;
    background-size: cover;

    @include media-breakpoint-up(md) {
        height: 261px;
    }
    @include media-breakpoint-up(lg) {
        height: 261px;
    }    
}