section.page{
    .mockup-image{
        .overlap{
            display: none;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            @extend .col-12;
        }
    } 
}