section.page{
    .pagehead{
        h1{
            font-style: normal;
            font-weight: bold;
        }
        .h5{
            font-size: 26px;
            line-height: 30px;
        }
    }
}