.bm-slider.owl-carousel{
    height: 200px;

    @include media-breakpoint-up(md) {
        height: 461px;
    }
    @include media-breakpoint-up(lg) {
        height: 561px;
    }

    width: 100%;

    div:not(.owl-dots) {
        height:100%;
    }
    .owl-dots{
        position: absolute;
        bottom: 15px;
        right: 30px;

        .owl-dot{
            width: 6px;
            height: 6px;
            border-radius: 3px !important;
            margin: 0 3px;
            background: rgba(255, 255, 255, 0.3);
        }
        .owl-dot.active{
            background: rgba(255, 255, 255, 0.9);
        }
    }

    .owl-item > div{
        background-position: center;
        background-size: cover;
    }
}